<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Visualization Final Project</title>

  <script src="{{ url_for('static', filename='js/d3.v4.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/jquery-2.2.4.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/queue.v1.min.js')}}"></script>
  <script src="{{ url_for('static', filename='js/d3-tip.js')}}"></script>
  <script src="{{ url_for('static', filename='js/topojson.min.js')}}"></script>
  <script src="https://d3js.org/d3-color.v2.min.js"></script>
  <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>
  <script src="https://d3js.org/d3-time.v2.min.js"></script>
  <script src="https://d3js.org/d3-time-format.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.25.6/d3-legend.min.js"></script>




  <!-- <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='styles/button.css')}}" />
  <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='styles/main.css')}}" />
  <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='styles/d3-tip.css')}}" />
  <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='styles/parallel.css')}}" /> -->

  <!-- <script src="{{ url_for('static', filename='js/parallelCoords.js')}}"></script>
  <script src="{{ url_for('static', filename='js/worldMap.js')}}"></script>
  <script src="{{ url_for('static', filename='js/barChart.js')}}"></script> -->


  <link rel='stylesheet' type="text/css" href="{{ url_for('static', filename='styles/style.css')}}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <script type="module">
  import { updateWorldMap, createWorldMap } from './static/js/worldMap.js'
  import { createLineChart } from './static/js/line-chart.module.js'
  import { createMdsPlot } from './static/js/mds-plot.module.js'
  import { createBubbleScatterplot } from './static/js/bubble-scatterplot.module.js'
  import { createParallelCoordsPlot } from './static/js/parallel-coords.module.js'
  import { createRadarChart } from './static/js/radar-plot.js'


  var _selectedCountries = [];


let Attrelement = document.getElementById("options_factor");

    d3.csv("/static/data/std_data.csv", function (err, demoData) {
      _selectedCountries = [];
     console.log(demoData);
      let demographicData = cleanData(demoData);
      console.log("in Index:");
    console.log(demographicData);
      
      console.log(demographicData);
      let filteredDemographicData = demographicData;
 
      createRadarChart("#radar-chart", demographicData);
      });

    //clean data to use in visualizations
   function cleanData(demographicData) {
     let consizeDemographicData = []

     demographicData.forEach(dataPoint => {
       if (!consizeDemographicData.some(el => el.country_name === dataPoint.country_name)) {
           console.log(dataPoint);
         consizeDemographicData.push({
           "country_name": dataPoint.country_name,
           "yearwiseData": [{
             "year": dataPoint.Year,
             "data": {
               "GDP":dataPoint.GDP,
               "Life_Expectancy": dataPoint.Life_Expectancy,
               "Annual_CO2_emissions": dataPoint.Annual_CO2_emissions,
               "Population": dataPoint.Population,
             }
           }]
         })

       } else {

         consizeDemographicData.find(el => el.country_name === dataPoint.country_name)["yearwiseData"].push({
           "year": dataPoint.Year,
           "data": {
             "GDP":dataPoint.GDP,
             "Life_Expectancy": dataPoint.Life_Expectancy,
             "Annual_CO2_emissions": dataPoint.Annual_CO2_emissions,
             "Population": dataPoint.Population,
           }
         })
       }
     })
     return consizeDemographicData
   }
  </script>



</head>

<body>


     
    
  </nav>

  <section id="body" class="dashboard">



      <div id="radar-chart">
        <h2 class="vis-header-no-marg" id="vis-header">World Map</h2>
        <div id='world-map'></div>
      </div>

    



  </section>

  <script src="/static/js/app.js"></script>

</body>


</html>
